.input {
  @apply border-2 rounded m-1 p-1 text-back;
}

.select {
  @apply border-2 rounded m-1 py-1 px-2 text-back;
}

.btn {
  @apply bg-accent hover:bg-accentHover text-white px-3 m-1 py-1 rounded duration-300;
}
.delBtn {
  @apply bg-red-500 hover:bg-red-700 text-white px-3 my-1 mx-2 py-1 rounded duration-300;
}

.link {
  @apply border bg-back hover:bg-backHover transition-all duration-200 rounded-md px-3 py-2;
}

.list {
  list-style-type: circle;
  list-style-position: inside;
}
.howToUse {
  width: max-content;
  margin: 0 auto;
}
